body {
	background-image: linear-gradient(to right, grey, gray, darkgray);
}
h1 {
	text-align: center;
	font-size: 55px;
	background-color: rgba(0, 0, 0, 0.5);
	border-radius: 15px;
}
ul {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 10px;
}
li {
	display: block;
	padding-left: 10px;
	background-color: rgba(0, 0, 0, 0.5);
	border-radius: 15px;
}
div {
	border: 1px solid red;
}
a {
	color: rgb(25, 25, 137);
	text-decoration-line: none;
	font-size: 15px;
	width: 100%;
}
li img {
	height: 30px;
	width: 30px;
}
